*
{
    margin: 0;
    padding: 0;
}


header{
    height: 5vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* text-align: center; */
}
header .logo{
    background-image: url(http://bmsec.ac.in/assets/images/si/BMSCE.png);
    width: 25px;

}