*
{
    margin: 0;
    padding: 0;
}


header{
    height: 5vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* text-align: center; */
}
header .logo{
    background-image: url(http://bmsec.ac.in/assets/images/si/BMSCE.png);
    width: 25px;

}
nav 
{
    height: 8vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
 
}
nav .links
{
    display: flex;
    text-decoration: none;
    gap: 60px;
    margin-left: 20px;
    
}
nav .btn button
{
    display: flex;
    margin-right: 30px;
    background-color: #007bff;
    color: white;
    justify-content: center;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}
nav .links a:hover
{
    text-decoration: underline;
    color: azure;
}
nav .btn button:hover{
    text-decoration: underline;
    color: brown;
    cursor: pointer;
}
main article
{
    /* margin-top: 12px; */
    background-color: blueviolet;
    height: 50vh;
    /* background-color: blueviolet; background-image: url(http://bmsec.ac.in/assets/images/si/BMSCE.png); */
}
article .img img
{
   padding: 20px 60px;
   position: relative;
   z-index: 1;
   float: left;
}
.click
{
    display: flex;
    justify-content: space-around;
}

.click .imp button{
    margin: 15px 13px;
    padding: 3px 5px;
    border-radius: 15px;
    border: 0.5px solid black;
}
.click .search input{
    margin: 15px 13px;
    padding: 3px 5px;
    border: 0.5px solid black;
}
.click .imp button:hover{
/* cursor: pointer; */
text-decoration: underline;
color: red;
}
body{
    height: 1333px;
}
.cards
{
    display: grid;
    grid-template-columns: 35vw 35vw 35vw;
    grid-template-rows: 65vh;
    /* border: 2px solid black; */
}
.card1
{
    margin: 12px 15px;
    padding: 12px 13px;
    height: 45vh;
    width: 25vw;
    border: 2px solid black;
}
.card2
{
    margin: 12px 15px;
    padding: 12px 13px;
    height: 45vh;
    width: 25vw;
    border: 2px solid black;
}
.card3
{
    margin: 12px 15px 16px;
    padding-right: 15px;
    padding: 12px 13px;
    height: 45vh;
    width: 25vw;
    border: 2px solid black;
}
.more
{
    text-align: end;
    margin-right: 25px;
}